<ion-view view-title="项目文档" class="bc-bg-gray">
    <ion-header-bar>
        <div class="buttons"  ng-click="toClose()">
            <button class="icon ion-chevron-left"></button>
        </div>
        <h1 class="title text-title">项目文档</h1>
    </ion-header-bar>
    <ion-content >
        <div class="scene-add-box">
            <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">文档名称</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{docDetail.name}}</div>
                    </div>
                </div>
             </div> 
             <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">归属部门</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{docDetail.orgName}}</div>
                    </div>
                </div>
             </div> 
             <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">编制单位</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{docDetail.authorOrg}}</div>
                    </div>
                </div>
             </div> 
             <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">编制人</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{docDetail.createUserName}}</div>
                    </div>
                </div>
             </div> 
             <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">主文件</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                         <a href="http://pm.cie-cn.com:8090/FileStore/Download.aspx?FileID={{docDetail.mainFile}}" download="http://pm.cie-cn.com:8090/FileStore/Download.aspx?FileID={{docDetail.mainFile}}"><div class="select-text umar-r">{{docDetail.mainFile}}</div></a>
                    </div>
                </div>
             </div> 
             <div class="add-select" ng-if="imgList.length>0" >
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">其他文件：</div>
                </div>
             </div> 
             <div ng-if="imgList.length>0" class="add-select"  ng-repeat="img in imgList">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                     
                    <div class=" ub-f1 ub ub-ac">
                            <a href="{{img | downImg}}" download="{{img | downImg}}"><div class="select-text umar-r">{{img}}</div></a>
                    </div>
                </div>
            </div>
                     
        </div>
    </ion-content>
</ion-view>