<ion-view view-title="{{title}}" class="create-by bc-bg home">
    <ion-header-bar>
        <div class="buttons"  ng-click="toClose()">
            <button class="icon ion-chevron-left"></button>
        </div>
        <h1 class="title text-title">{{title}}</h1>
    </ion-header-bar>
    <ion-content class="bc-bg-gray">
        <ion-spinner class="firstLoad" ng-if="nltip==0" icon="ios"></ion-spinner>
        <ion-refresher
                pulling-text="下拉"
                refreshing-text="刷新中..."
                spinner="ios"
                on-refresh="doRefreshProjectList()">
        </ion-refresher>
        <div class="scene-list">
            <div class="scene-box bc-border ubb"  ng-repeat="porject in porjectList" ng-click="jumpPage(porject.id,porject.name)">
                <div class="scene-top ub ub-ac ">
                    <div class="img-head" style="background:{{$index | color}}" >{{porject.chargeUserName |name}}</div>
                    <div class="content ub-f1">
                        <div class="title">{{porject.name}}</div>
                        <div class="personal-info  ub ub-ac">
                            <div class="address-box ub ub-ac">
                                <div class="address-icon "></div>
                                <div class="text umar-l">{{porject.province}}</div>
                            </div>
                            <div class="user-box ub ub-ac">
                                <div class="user-icon"></div>
                                <div class="text umar-l">{{porject.chargeUserName}}</div>
                            </div>
                            <div class="num">{{porject.count}}条</div>
                        </div>
                    </div>
                    <li class="icon ion-chevron-right" ></li>
                </div>
                <div class="scene-bottom ub ub-ac bc-border ubt" ng-if="porject.create ||  porject.explain">
                    <div class="ub ub-ac time-box">
                        <div class="time-icon"></div>
                        <div class="text umar-l">{{porject.create}}</div>
                    </div>
                    <div class="text-desc">{{porject.explain}}</div>
                </div>
            </div>
        </div>
    
    <p class="more" ng-if="nltip==1">没有更多数据</p>
    <ion-infinite-scroll
      ng-if="showScroll"
      spinner="ios"
      on-infinite="loadMoreProjectList()"
      immediate-check="false"
      distance="1%">
    </ion-infinite-scroll>
</ion-content>
</ion-view>
    