<ion-view view-title="采购进度反馈" class="bc-bg-gray">
    <ion-header-bar>
        <div class="buttons"  ng-click="toClose()">
            <button class="icon ion-chevron-left"></button>
        </div>
        <h1 class="title text-title">采购进度反馈</h1>
    </ion-header-bar>
    <ion-content>
        <div class="scene-add-box">
            <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">项目名称</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{apurchaseDes.projectInfoName}}</div>
                    </div>
                </div>
            </div> 
            <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">合同名称</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{apurchaseDes.contractName}}</div>
                    </div>
                </div>
            </div>
            <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">设备名称</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{apurchaseDes.equipName}}</div>
                    </div>
                </div>
            </div>
            <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">步骤</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{apurchaseDes.phaseName}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="add-name">已完成（%）</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r" ng-if="apurchaseDes.projress">{{apurchaseDes.projress}}</div>
                        <div class="select-text umar-r" ng-if="!apurchaseDes.projress">0%</div>
                    </div>
                </div>
            </div> -->
            <div class="add-select-end ub ub-ac ub-pj bc-border ubb">
                <div class="add-name">累计完成（%）</div>
                <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r" ng-if="apurchaseDes.totalprogress">{{apurchaseDes.totalprogress}}%</div>
                        <div class="select-text umar-r" ng-if="!apurchaseDes.totalprogress">0%</div>
                    </div>
            </div>
            <div class="scene-add-img bc-border ubb" ng-if="apurchaseDes.photoFile.length>0" >
                <div class="add-name">现场拍照</div>
                <div class="pictures-box">
                    <div class="pictures-img ub ub-ac ub-pc" id="imgs" ng-repeat="img in apurchaseDes.photoFile">
                        <img   ng-click="toBigPic($index)"  actual-src="{{img | downImg}}"   />
                    </div>
                </div>
            </div>        
        </div>
    </ion-content>
</ion-view>