<ion-view view-title="采购管理" class="create-by bc-bg home">
        <ion-content class="menu-bg">
            <button  ng-click="toClose()" class="icon ion-chevron-left no-title-back"></button>
            <div class="menu-title">采购管理</div>
            <div class="app-list-box">
                <div class="app-list bc-border ubb" ng-repeat="menu in menuList"  ng-class="{'ubr':($index+1)%3>0}"  ng-click="jumpPage('{{menu.url}}')">
                    <div class="list-info" >
                    <div class="{{menu.icon}} tab-icon">
                        <div ng-if="menu.total>0 && menu.total<=99"class="num-box">{{menu.total}}</div>
                        <div ng-if="menu.total>99" class="num-box">
                        <div class="more">...</div>
                        </div>
                    </div>
                    <div class="app-text">{{menu.title}}</div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
        