<ion-view view-title="现场照片添加" class="bc-bg-gray">
    <ion-header-bar>
        <div class="buttons"  ng-click="toClose()">
            <button class="icon ion-chevron-left"></button>
        </div>
        <h1 class="title text-title">添加现场拍照</h1>
    </ion-header-bar>
    <ion-content class="has-footer">
        <div class="scene-add-box">
            <div class="add-select">
                <div class="add-pa ub ub-ac ub-pj bc-border ubb">
                    <div class="title">项目名称</div>
                    <div class="right-box ub-f1 ub ub-ac ub-pe">
                        <div class="select-text umar-r">{{addPhoto.projectInfoName}}</div>
                    </div>
                </div>
             </div> 
             <div class="add-select-end ub ub-ac ub-pj bc-border ubb">
                <div class="title">子项</div>
                <div class="right-box ub-f1 ub ub-ac ub-pe">
                    <select ng-model="select.subProject" ng-options="e.name for e in subProjectList"></select>
                    <div class="select-text umar-r" ng-show="select.subProject!=''">{{select.subProject.name}}</div> 
                    <div class="select-text umar-r" ng-show="select.subProject==''">请选择子项</div>
                    <li class="icon ion-chevron-right umar-l" ></li>
                </div>
            </div>
            <div class="add-select-end ub ub-ac ub-pj bc-border ubb">
                <div class="title">照片类别</div>
                <div class="right-box ub-f1 ub ub-ac ub-pe">
                    <select ng-model="select.photocategor" ng-options="e.code for e in photocategorList"></select>
                    <div class="select-text umar-r" ng-show="select.photocategor!=''">{{select.photocategor.name}}</div> 
                    <div class="select-text umar-r" ng-show="select.photocategor==''">请选择照片类别</div>
                    <li class="icon ion-chevron-right umar-l" ></li>
                </div>
            </div>
            <div class="add-textarea bc-border ubb">
                <div class="textarea-name">说明</div>
                <textarea class="textarea-text"ng-model="addPhoto.explain" placeholder="请输入说明..."></textarea>
            </div>
            <div class="scene-add-img bc-border ubb">
                <div class="add-name">现场拍照</div>
                <div class="pictures-box">
                    <div class="pictures-img ub ub-ac ub-pc" ng-repeat="img in imgList">
                        <img  actual-src="{{img | downImg}}"  />
                        <i class="icon ion-close-circled pic-close" ng-click="removeImg(img)"></i>
                    </div>
                    <div class="add-img-icon" ng-click="selectPhotoType()"></div>
                </div>
            </div>        
        </div>
    </ion-content>
    <div class="footer">
        <div class="btn btn-r ub-f1" ng-click="submit()">提交</div>
      </div>
</ion-view>