<ion-view view-title="人员信息" class="create-by bc-bg app">
    <ion-header-bar>
      <h1 class="title text-title">{{info.deptshort}}</h1>
    </ion-header-bar>
    <ion-content>
    
     <div class="list-info">
        <div class="header bc-border ubb">
            <div class="head-img">
              <img ng-if="img" ng-src="{{img}}" />
            </div>
        </div>
         
        <div class="ub ub-ac ub-pj bc-border ubb detail-box">
          <div class="title">姓名</div>
          <div class="text-f umar-l">{{info.name}}</div>
        </div>
        <div class="ub ub-ac ub-pj bc-border ubb detail-box">
            <div class="title">性别</div>
            <div class="text-f umar-l">{{info.sex}}</div>
        </div>
        
        <div class="ub ub-ac ub-pj bc-border ubb detail-box">
            <div class="title">联系方式</div>
            <div class="text-f umar-l">{{info.mobilePhone}}</div>
        </div>
        <div class="ub ub-ac ub-pj bc-border ubb detail-box">
            <div class="title">岗位名称</div>
            <div class="text-f umar-l">{{info.roleName}}</div>
        </div>
         
        <div class=" bc-border ubb detail-box">
            <div class="title">岗位职责</div>
            <div class="pre-box">
                <pre>{{info.responsibilityDescribe}} </pre>
            </div>
        </div>
     </div>
    </ion-content>
  </ion-view>