.detail-box {
    padding: 10px;
}

.text-f {
    color: #7d7d7d;
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: right;
}

.menu-bg {
    background-image: url("../images/menu-bg.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.rootRouter {
    height: 40px;
    font-size: 30px;
    padding: 40px;
    text-align: center;
}

.menu-title {
    height: 40px;
    font-size: 24px;
    padding: 40px;
    text-align: center;
}

/*加载*/
.firstLoad {
    margin-left: 50%;
}

.firstLoad svg {
    margin-left: -14px;
}

.more {
    text-align: center;
    margin-top: 4px;
}

select {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.no-title-back {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    background: none;
    border: 0;
}

.bar .button, .bar button {

    background: none;
    border: 0;
}

.login-title {
    color: #42ABF3;
    padding: 20px 0 0 20px;
}

.login .login-box {
    padding: 0 20px;
}

.login .form-group {
    margin-top: 10px;
}

.login .form-title {
    color: #5C5C5C;
    width: 58px;
}

.login .form-input input {
    width: 100%;
}

.login .login-button {
    margin-top: 30px;
    height: 44px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 0;
    background: #6CC3FF;
    border-radius: 4px;;
}

.login .login-button.active, .login .login-button.activated {
    background: #93cef7;
}

.login .register-button {
    margin-top: 25px;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #2b84ea;
    background: #fff;
    border: 0;
    border-radius: 3px;
}

.login .register-button.active, .login .register-button.activated {
    opacity: 0.6;
}

/*------------------首页------------------------*/

.home .app-list-box {
    padding: 40px 10px 0;
}

.home .app-list {
    width: 33.33%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: #e9ebea;
}

.home .app-list-box::after {
    display: table;
    content: " ";
    clear: both;
}

.home .num-box {
    position: absolute;
    right: -8px;
    top: -8px;
    color: #ffffff;
    background: #e9573e;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
}

.home .more {
    margin-top: -3px;
}

.home .app-list.active, .home .app-list.activated {
    opacity: 0.8;
}

.home .app-text {
    text-align: center;
    margin-top: 4px;
    color: #5C5C5C;;
    font-size: 14px;
}

.home .app-tab-box {
    padding: 11px 0 8px 0;
    background: #ffffff;
    border-bottom: 1px solid #E7E7E7;
}

.home .tab-list {
    margin: 0 16px;

}

.home .tab-icon {
    width: 44px;
    height: 44px;
    margin: auto;
    position: relative;
}

.home .tab-text {
    color: #7E7E7E;
    margin-top: 4px;
}

.doc-upload-icon {
    background-image: url("../images/doc-upload-icon.png");
    background-size: cover;
}

.doc-browsing-icon {
    background-image: url("../images/doc-browsing-icon.png");
    background-size: cover;
}

.project-schedule-icon {
    background-image: url("../images/project-schedule-icon.png");
    background-size: cover;
}

.scene-photo-icon {
    background-image: url("../images/scene-photo-icon.png");
    background-size: cover;
}

.scan-icon {
    background-image: url("../images/scan-icon.png");
    background-size: cover;
}

.buying-schedule-icon {
    background-image: url("../images/buying-schedule-icon.png");
    background-size: cover;
}

.monitor-log-icon {
    background-image: url("../images/monitor-log-icon.png");
    background-size: cover;
}

.logistics-code-icon {
    background-image: url("../images/logistics-code-icon.png");
    background-size: cover;
}

.logistics-breakage-icon {
    background-image: url("../images/logistics-breakage-icon.png");
    background-size: cover;
}

.scene-list .img-head {
    width: 40px;
    height: 40px;
    background: #66984b;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.scene-list .scene-box {
    padding: 10px 0 4px 10px;
    margin-bottom: 10px;
    background: #fff;
}

.scene-list .content {
    margin-left: 10px;
}

.address-icon {
    background-image: url(../images/address-icon.png);
    background-size: cover;
    width: 8px;
    height: 11px;
}

.user-icon {
    background-image: url(../images/user-icon.png);
    background-size: cover;
    width: 9px;
    height: 11px;
}

.construction-icon {
    background-image: url(../images/construction-icon.png);
    background-size: cover;
    width: 14px;
    height: 14px;
}

.scene-list .time-icon {
    background-image: url(../images/time-icon.png);
    background-size: cover;
    width: 10px;
    height: 10px;
}


.scene-list .address-box, .user-box {
    margin-right: 10px;
}

.scene-list .content .text {
    font-size: 12px;
}

.scene-list .content .num {
    color: #3993d8;
    border: 1px solid #3993d8;
    padding: 0px 8px;
    line-height: 12px;
    font-size: 10px;
    border-radius: 3px;
}

.scene-list .scene-top {
    padding-bottom: 10px;
    padding-right: 10px;
}

.scene-list .scene-bottom {
    padding-top: 4px;
    font-size: 12px;
    color: #a0a0a0;
}

.scene-list .scene-bottom .text-desc {
    margin-left: 10px;
}


.scene-detail-box {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.scene-detail-box .title {
    font-size: 16px;
}

.scene-detail-box .num {
    color: #3993d8;
    border: 1px solid #3993d8;
    padding: 0px 8px;
    font-size: 10px;
    border-radius: 3px;
}

.scene-detail-box .info-box {
    font-size: 14px;
    color: #a0a0a0;
}

.scene-detail-box .supplierName {
    color: #a0a0a0;
    padding: 4px 0;
}

.scene-detail-box .detail-text {
    font-size: 12px;
    margin-left: 10px;
}

.scene-detail-box .address-box, .scene-detail-box .construction-box {
    margin-right: 10px;
}

.scene-detail-box .pictures-box {
    padding: 10px 0 0;
}

.scene-detail-box .pictures-img {
    background: #fff;
    color: #999999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    line-height: 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.scene-detail-box .pictures-img img {
    max-height: 200px;
}

.scene-detail-box .pictures2-img {
    background: #fff;
    color: #999999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
    width: 48%;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    margin: 1%;
}

.scene-detail-box .pictures2-img img {
    max-height: 100px;
}

.scene-detail-box .pictures-box:after {
    content: '';
    display: block;
    clear: both;
}

.scene-detail-box .pictures3-img {
    background: #fff;
    color: #999999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
    width: 31%;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    margin: 1%;
}

.scene-detail-box .pictures3-img img {
    max-height: 80px;
}

.scene-detail-box .min-img {
    background: #fff;
    color: #999999;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    width: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

.scene-detail-box .min-img img {
    max-height: 40px;
}

.scene .add-box {

    color: #29a1f7;
    position: absolute;
    left: 50%;
    bottom: 30px;
    font-size: 60px;
    margin-left: -30px;
}

.has-footer {
    bottom: 64px;
}

.footer {
    height: 44px;
    position: fixed;
    width: 100%;
    bottom: 0;
    bottom: 20px;
}

.footer .btn {
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #03a9f4;
    color: #fff;
}

.add-select {
    background: #fff;
    padding-left: 10px;
}

.add-select-end {
    background: #fff;
    padding: 10px;
}

.add-select .add-pa {
    padding: 10px 10px 10px 0;
}

.add-select .right-box, .add-select-end .right-box {
    color: #a7a7a7;
    margin-left: 10px;
}

.add-select .right-box .input, .add-select-end .right-box .input {
    width: 100%;
    text-align: right;
    border: 0;
    display: block;
}

.add-textarea {
    background: #fff;
    padding: 10px;
    margin-top: 10px;
}

.textarea-text {
    height: 100px;
    width: 100%;
    resize: none;
    color: #a7a7a7;
    margin-top: 10px;
}

.scene-add-img {
    padding: 10px 10px 0 10px;
    background: #fff;
    margin-top: 10px;
}

.scene-add-img .pictures-box {
    padding-top: 10px;
}

.scene-add-img .pictures-img {
    background: #fff;
    color: #999999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
    width: 23%;
    float: left;
    overflow: hidden;
    margin: 0 1% 10px;
    position: relative;
}

.scene-add-img .pictures-img img {
    max-height: 80px;
}

.scene-add-img .pictures-box::after {
    display: table;
    content: " ";
    clear: both;
}

.add-img-icon {
    background-image: url(../images/add-img-icon.png);
    height: 80px;
    width: 23%;
    float: left;
    overflow: hidden;
    margin: 0 1% 10px;
    border: 1px solid #bfbfbf;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.scene-add-img .pic-close {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #ffff;
    font-size: 18px;
    color: #000;
}

.doc-browsing-box {
    background: #fff;
    padding: 10px;
}

.doc-browsing-box .doc-time {
    color: #a7a7a7;
}

.doc-tab {
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
}

.doc-tab-name {
    color: #1b82d2;
}

.doc-tab-box {
    margin-right: 4px;
}

.header {
    padding: 10px;
}

.head-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    background: #E7E7E7;
    border-radius: 50%;
}

.head-img img {
    max-width: 100%;
    min-height: 100%;
}


.pre-box {
    color: #7d7d7d;
}